.FoundedSongsPlaylist-container {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  width: 30%;

  overflow: hidden;
  overflow-y: scroll;
  min-height: 80px;
  max-height: 500px;
  /* background-color: red; */
  /* border-radius: 10%; */

  /* border-end-end-radius: 10%; */
  /* border: 1px solid red; */
}
