.PlayList-container {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  border-radius: 20px;
  margin:2vw;


  background-color: #dfcfbe;

}

.PlayList-container-header {
  border-radius: 20px;
justify-content: center;
  display: flex;
  background-color: #dfcfbe;
  margin-bottom: 1vh;
}
.PlayList-title {
  float: left;
  width: 25%;
  /* margin-right: "20%"; */
 

}
.PlayList-currentPlaylistName{
  width: 50%;
  text-justify: center;
  font-weight: bold;
  margin-left: "5vw";
 
}

.PlayList-videoContainer {

  overflow: hidden;
  overflow-y: scroll;
  min-height: 80px;

  max-height: 25vh;
}

.PlayList-DeleteSweepIcon {
  
  /* align-self: center; */

  /* margin-left: "120px"; */
}
.Playlist-link{
  margin: 2vh;
  /* margin-top: 2vh; */
}

@media only screen and (min-width: 600px) {
  .PlayList-container {
    float: right;
    width: 95%;
    max-width: 400px;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 0;

  }
  .PlayList-videoContainer{
    height: 45vh;
    max-height:  45vh;

  }
  .PlayList-title {
    float: left;
    width: 100px;
    

  }
}