.PlayList-container {
  display: flex;
  flex-direction: column;
  width: 100%;


  background-color: #dfcfbe;

}

.PlayList-container-header {
  display: flex;
  background-color: #dfcfbe;
  margin-bottom: 1vh;
}
.PlayList-title {
  float: left;
  width: 25%;
 

}
.PlayList-currentPlaylistName{
  width: 50%;
  text-justify: center;
  font-weight: bold;
 
}

.PlayList-videoContainer {

  overflow: hidden;
  overflow-y: scroll;
  min-height: 80px;

  max-height: 25vh;
}

.PlayList-DeleteSweepIcon {
  align-self: center;

  margin-left: 35px;
}

@media only screen and (min-width: 600px) {
  .PlayList-container {
    float: right;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin-top: 0;

  }
  .PlayList-videoContainer{
    height: 40vh;
    max-height:  40vh;

  }
  .PlayList-title {
    float: left;
    width: 100px;
    

  }
}