.FoundedSongsYouTube-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgb(122, 240, 122);
  margin-left: 3%;

  overflow: hidden;
  overflow-y: scroll;
  min-height: 80px;
  max-height: 500px;
  /* border: 1px solid red; */
}
