.FoundedVideoYouTube-container {
  display: flex;
  width: 100%;

  /* border: royalblue 1px solid; */
}

/* .FoundedVideoYouTube-Video {
  width: 90%;
  align-self: center;
} */

.FoundedVideoYouTube-img {
  /* height: 100px; */
  width: 20vw;
  margin: 1vw;
  /* margin-right: 10px; */
}
.FoundedVideoYouTube-button {
  /* margin-left: 2vw;
  margin-right: 2vw; */
}

.FoundedVideoPlaylist-text {
  /* margin-right: 10px; */
  /* margin-left: 20px; */
  /* font-size: 1px; */
}
.FoundedVideoYouTube-text{
  width: 80vw;
  padding-left: 2vh;
  padding-right: 2vh;
}

@media only screen and (min-width: 600px) {
  .FoundedVideoYouTube-img {
    /* height: 100px; */
    width: 8vw;
    /* margin-right: 10px; */
  }
}

