.SearchPageBody-VideoPlay{
    /* margin-left: 30px;
    margin-right: 30px; */
    /* margin-top: 1vh; */

}

/* .SearchPageBody-container{
    display: flex;
    flex-direction: column;
}

.SearchPageBody-SearchAndVideoPlay{
    display: flex;
    float: left;

}

.SearchPageBody-FoundedVideosYouTube{
    display: flex;
    float: right;
} */