.PlayListsUser-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-self: center;
  align-items: center; */
  /* margin-top: 50px; */
  /* display: flex;
  align-self: center;
  align-items: center; */
  /* margin-left: 200px; */
}

.PlayListsUser-createPlaylist {
  /* margin-top: 50px; */
  /* margin-left: 50px; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* display: flex; */
  /* align-self: center;
  align-items: center; */
  /* margin-left: 300px; */
}
