/* .Header-container {
  display: flex;
  
  margin-bottom: 20px;
}
.Header-Plyr {
  width: 40%;
  float: left;
}
.Header-headContainer {
  width: 60%;
  float: right;
  display: flex;
  flex-direction: column;
}
.Header-headContex {
  
  width: 100%;
}
.Header-headMiddle {
  float: left;
  width: 85%;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.Header-buttons {
  margin-top: 30px;
  float: right;
  width: 15%;
}

.Header-h1 {
  color: blue;
  font-size: xxx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Header-contex {
  display: flex;
}

.Header-title {
  width: 100%;
  display: flex;

}

.Header-explain {
}
.Header-welcome {
  margin-left: 20%;
  align-self: center;
  font-size: xx-large;
}
.Header-user {
  margin-left: 20px;
  color: brown;
  font-weight: bold;
  font-size: xx-large;
  align-self: center;
}
.Header-links {
  float: right;
  display: flex;
  flex-direction: column;
} */
