.FoundedVideosYouTube-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  /* background-color: rgb(122, 240, 122); */
  background-color: #dfcfbe;
  /* background-color: blue; */
  /* margin-left: 3%; */
margin-top: 3vh;
  /* overflow: hidden;
  overflow-y: scroll;
  min-height: 80px;
  max-height: 500px; */
  /* border: 1px solid red; */
}

.FoundedVideosYouTube-searchVideoResults{

  overflow: hidden;
  overflow-y: scroll;
  min-height: 80px;
  max-height: 25vh;

}

@media only screen and (min-width: 600px) {
  .FoundedVideosYouTube-container {
   
    float: right;
    width: 90%;
    /* height: 100%; */
    justify-content: center;
    /* height: 100px; */
    margin-top: 0;

  }
  .FoundedVideosYouTube-searchVideoResults{
    /* max-height: 50vh; */
    height: 50vh;
    max-height:  50vh;

  }
}