.FoundedVideosYouTube-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;

  background-color: #dfcfbe;
  
margin-top: 3vh;
 
}
.FoundedVideosYouTube-title{
  font-size: 2.5vh;
  margin: 1vh;
}
.FoundedVideosYouTube-searchVideoResults{

  overflow: hidden;
  overflow-y: scroll;
  min-height: 120px;
  max-height: 30vh;

}

@media only screen and (min-width: 600px) {
  .FoundedVideosYouTube-container {
   
    float: right;
    width: 95%;
    justify-content: center;
    margin-top: 0;

  }
  .FoundedVideosYouTube-searchVideoResults{
    height: 50vh;
    max-height:  50vh;

  }
  
  .FoundedVideosYouTube-clickPlaylist{
    font-size:15px;
  }
  .FoundedVideosYouTube-title{
    font-size: 4vh;
  }
}