.Playlists-select {
  min-width: 250px;

  /* display: flex; */
  /* margin-left: 1000px; */

  /* align-content: center;  */
  /* align-items: center;
  align-tracks: center;
  align-self: center;
  text-align: center; */
}
