.FoundedSongPlaylist-container {
  display: flex;
  /* border: royalblue 1px solid; */
}

.FoundedSongPlaylist-song {
  width: 30%;
  align-self: center;
}

.FoundedSongPlaylist-img {
  /* height: 100px; */
  width: 100px;
}
