
  .ChoosePlaylist-container-header {
    border-radius: 20px;
  justify-content: center;
    display: flex;
    background-color: #dfcfbe;
    margin-bottom: 1vh;
    
  }
  .ChoosePlaylist-title {
    float: left;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: inline-block; */
    /* margin-right: 20%; */
    display: inline-block;
    /* float:left;  remove */
    margin: 10px 10px 0 0;
    padding: 5px 10px
  
  }

  

  
  .ChoosePlaylist-DeleteSweepIcon {

  }
 
  
  @media only screen and (min-width: 600px) {
    .ChoosePlaylist-container {
      float: right;
      width: 95%;
      max-width: 400px;
      min-width: 400px;
      /* justify-content: center;
       align-items: center; */
      margin-top: 0;
  
    }
 
    .ChoosePlaylist-title {
      float: left;
      width: 100px;
      font-size: 3vh;
      justify-content: center;
      align-items: center;
      text-align: center;

  
    }
  }