.UserUserPlayList-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 3%;

  overflow: hidden;
  overflow-y: scroll;
  min-height: 80px;
  max-height: 500px;
  background-color: bisque;
  /* height: 300px; */
  /* border: solid blue 1px; */
}

.UserUserPlayList-container-header {
  display: flex;
  background-color: bisque;
}
.UserUserPlayList-h1 {
  float: left;
  width: 25%;
  align-content: center;
  align-items: center;
  align-content: center;
}

.UserUserPlayList-songs {
  /* overflow: hidden;
  height: 40%; */
  /* overflow-y: scroll; */
  /* height: 500; */
}

.UserUserPlayList-DeleteSweepIcon {
  /* justify-content: center; */
  align-self: center;
  /* align-items: center; */
  /* justify-items: center; */
  /* align-content: center; */
  margin-left: 35px;
}
/* .UserUserPlayList-list {
  overflow: hidden;
  height: 40%;
} */
