.PlaylistSong-container {
  display: flex;
  /* border: 1px solid brown; */
  /* border: 1px solid brown; */
  width: 100%;
  /* height: 100px; */
}

.PlaylistSong-song {
  width: 90%;
  align-self: center;
}

.PlaylistSong-img {
  /* height: 100px; */
  width: 100px;
}
