.LogIn-container{
  margin-bottom: 5vh;
}

.Login-message {
  color: red;
}

.LogIn-buttons {
  /* align-items: center;
  align-tracks: center; */
  /* margin-left: 41%; */
  display: flex;
  justify-content: center;
}

.LogIn-Inputs {
  align-items: center;
  align-tracks: center;
  margin-top: 50px;
  display: block;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.LogIn-header {
  margin-top: 80px;
  /* background-color: cornsilk; */
}
