.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
}
.App-contex {
  display: flex;
  width: 100%;
  /* flex-direction: row; */
}
.App-SongList {
  float: left;
  width: 50%;
}

.App-FoundedSongs {
  float: right;
  width: 50%;
}

.App-footer {
  display: flex;
  flex-direction: column;
}
.App-video {
  height: 100px;
  width: 100px;
}

button {
  margin-left: 20px;
}
input {
  margin-left: 20px;
}
/* .App-divSongs {
  display: flex;
  border: 1px;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
