.Body {
  text-align: center;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.Body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
}
.Body-header {
  width: 100%;
}
.Body-contex {
  display: flex;
  width: 100%;
  /* flex-direction: row; */
}
.Body-PlayList {
  float: left;
  /* width: 40%; */
}

.Body-FoundedSongsYouTube {
  float: right;
  /* width: 30%; */
}
.Body-FoundedSongsPlayList {
  float: right;
  /* width: 30%; */
}

.Body-footer {
  display: flex;
  flex-direction: column;
}
.Body-video {
  align-self: center;
  /* height: 200px; */
  width: 500px;
}

.Body-message {
  text-align: left;
  margin-left: 40%;
  /* text-align: left; */
  /* text-align: center; */
  /* justify-content: flex-start; */
  /* margin-left: 10px; */
}
.Body-messageDetails {
  text-align: left;
  color: red;
}
.Body-inputsAndButtonsContainer {
  display: flex;
  /* background-color: #61dafb; */
  /* flex-direction: column; */
  /* align-self: center; */
  align-items: center;
}

.Body-SearchApi {
}

.Body-CreatePlaylist {
  /* margin-left: 50px; */
}
button {
  margin-left: 20px;
}
input {
  margin-left: 20px;
}
/* .Body-divSongs {
    display: flex;
    border: 1px;
  } */
.Body-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Body-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Body-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
